[defaults]
inventory = inventory/generate_inventory
# interpreter_python=/usr/bin/python3
# increase SSH timeout
timeout=30
vault_password_file=vaultpw.sh
# Retain old behaviour, see https://forum.ansible.com/t/inject-facts-as-vars-is-defaulting-to-false-in-2-24/44886/1
inject_facts_as_vars = True
